<footer class="site-footer">
  <div class="wrap grid">
    <div class="col brandcol">
      <img class="mark mark-light" src="{{ '/starsim-mark-light.png' | url }}" alt="Starsim" width="30" height="30" />
      <img class="mark mark-dark" src="{{ '/starsim-mark-dark.png' | url }}" alt="Starsim" width="30" height="30" />
      <p>STIsim is developed on the Starsim platform. Open source, pure Python.</p>
    </div>
    <div class="col">
      <span class="h">Community</span>
      <a href="https://starsimhub.slack.com/archives/C0AFBTE3J1M" target="_blank" rel="noopener">Slack ↗</a>
      <a href="https://github.com/starsimhub/stisim/discussions" target="_blank" rel="noopener">GitHub Discussions ↗</a>
      <a href="https://github.com/starsimhub/stisim" target="_blank" rel="noopener">How to contribute ↗</a>
    </div>
    <div class="col">
      <span class="h">Project</span>
      <a href="https://starsim.org" target="_blank" rel="noopener">starsim.org ↗</a>
      <a href="https://docs.stisim.org" target="_blank" rel="noopener">Docs ↗</a>
      <a href="mailto:info@starsim.org">Contact</a>
    </div>
  </div>
</footer>
